
$dark: #554 !default;
$highlight: #f70 !default;

a {
	color: $highlight;
	text-decoration: none;
}

a:hover {
	color: darken($highlight, 20%); /*#f30;*/
}

input[type=text] {
	width: 100px;
	border: 1px solid #E70;
	border-radius: 3px;
	padding: 2px 5px;
	margin: 0px 3px;
}

input[type=submit] {
    background-color: #E70;
    background-image: linear-gradient(to bottom, #D80, #D50);
    background-repeat: repeat-x;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-size: 13px;
    padding: 2px 9px;
}

$dark: #554;

body {
    background-color: #ddd;
    color: #444;
    font: 12px arial, helvetica, sans-serif;
}

#top {
	margin-top: 5px;
	overflow: auto;
}
#topLogo {
	float: left;
	margin: 20px;
	height: 50px;
}

#topNavigation {
	float: right;
	margin: 20px;
	list-style-type: none;
	overflow: auto;
}

#topNavigation li {
	float: left;
	margin: 2px 0;
	border-left: 1px solid #aaa;
}

#topNavigation li:first-child {
	border: none;
}

#topNavigation li a {
	color: #999;
	text-decoration: none;
	display: block;
	padding: 0px 10px;
}

#topNavigation a:hover {
	color: #333;
}

#topContact {
	float: right;
	margin: 20px;
	margin-right: 120px;
	color: #777;
	line-height: 16px;
}

#page {
    width: 1000px;
	background-color: #FFFFFF;
    border-color: #aaa;
    border-style: solid;
    border-width: 0 1px 1px;
	box-shadow: 0px 0px 5px 6px #aaa;
    margin: 0 auto 20px;
    text-align: left;
    overflow: hidden;
}

#footer {
	width: 1000px;
	margin: 0 auto 20px;
    text-align: right;
    color: #aaa;
}

#footer a {
	color: #aaa;
}

#bar {
	background: $dark;
	color: white;
	overflow: visible;
	height: 44px;
	margin-bottom: 7px;
	padding: 0 20px;
}

#bar ul {
	list-style-type: none;
}

#barMenu {
	float: left;
	padding: 7px 0;
	width: 760px;

	> li {
		float: left;
		border-left: 1px solid #888;
		margin: 0;
	}

	> li:first-child {
		border: none;
	}
	
	a {
		color: #ffffff;
		font-size: 17px;
		padding: 3px 12px 3px 12px;
		text-decoration: none;
		display: block;
		font-weight: bold;
	}
	
	li {
	    position: relative;
	    line-height: 24px;
	}
	
	ul {
	    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	    display: none;
	    float: left;
	    left: 0;
	    margin: 0;
	    position: absolute;
	    top: 30px;
	    width: 188px;
	    z-index: 99999;
		margin:0;
		background-color: $dark;
		height: auto;
	}
	
	ul ul {
	    left: 100%;
	    top: 0;
	}
	ul a {
	    border-bottom: 1px solid #555;
	    height: auto;
	    line-height: 1.5em;
		display:block;
	}
	
	li:hover > a, a:focus, a:hover {
	    background-color: #888;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	    color: #333;
	    text-decoration: none;
	}
	
	li:hover > ul {
	    display: block;
	}
}



#barSearch {
	float: right;
	padding: 7px;
}

#barSearch .fakeinput {
	background: white;
	overflow: auto;
	border-radius: 7px;
	height: 30px;
	width:160px;
}

#barSearch input#q {
	padding: 5px 10px;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    width: 100px;
    line-height: 20px;
    height: 20px;
}

#barSearch input.icon {
	padding: 4px;
    float: right;
    width: 22px;
    height: 22px;
}

#breadcrumbs {
	border-bottom: 2px solid #ddd;
	margin: 10px;
	padding-bottom: 5px;
	list-style-type: none;
	overflow: auto;
	padding-left: 20px;

	li {
		float: left;
		padding-right: 19px;
		margin-right: 9px;
		background-image: url(/static/icons/crumb.png);
		background-position: right center;
		background-repeat: no-repeat;
	}
	
	li:last-child {
		background-image: none;
	}
	
	li a {
		text-decoration: none;
	}
}

#sidebar .widget {
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #aaa;
	font-size: 11px;
}

#sidebar .widget ul {
	list-style-type: none;
	padding-left: 10px;
}
#sidebar .widget h2 {
	background-color: $dark;
	color: white;
	padding: 5px 12px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#tagcloud {
	width: 100%;
	height: 200px;
}

#categoriesmap {
	column-count: 2;
	column-gap: 20px;
	background: #eee;
	padding: 20px;
	font-size: 11px;
	border-top: 3px solid #ddd;
	color: #666;
	a {
		color: #666;
		display: block;
		padding: 1px;
	}
	ul {
		list-style-type: none;
		padding-left: 10px;
	}
	> ul > li {
		font-size: 13px;
		margin-bottom: 5px;
	}
	> ul > li > ul > li > a {
		font-weight: bold;
	}
	> ul > li > ul {
		overflow: auto;
	}
	> ul > li > ul > li {
		float: left;
		margin-left: 20px;
	}
	> ul > li > ul > li > ul > li {
		float: left;
		margin-left: 10px;
	}
}

#filterform {

    background-color: #EEE;
    padding: 8px;
    overflow: auto;
	list-style-type: none;
	li {
		float:left;
		margin-right: 20px;
		height: 23px;
		padding: 4px 2px;
	}
	li:last-child {
		float:right;
		margin-right: 0px;
	}
}

.pagination {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    font-size: 11px;
    padding: 3px 8px;
 }
 
.product {
 	border-bottom: 1px solid #DDD;
    padding: 10px;
    overflow: auto;

	 .thumbnail {
		width: 170px;
		float: left;
	}
	
	.desc {
		width: 320px;
		float: left;
		padding: 10px;
	}
	
	.actions {
		width: 150px;
		float: right;
	}
}

.categoryTree {
	padding: 15px;
	ul {
		padding-left: 20px;
	}
	li {
		margin-bottom: 5px;
		margin-top: 3px;
	}
}

