
.widget {
	position: relative;
	background-color: #eee;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 9px 14px;
	h2 {
		background-color: #F5F5F5;
    	border: 1px solid #DDDDDD;
    	border-radius: 4px 0 4px 0;
    	color: #7D8084;
    	font-size: 12px;
    	font-weight: bold;
    	left: -1px;
    	top: -1px;
    	padding: 3px 7px;
    	position: absolute;
    	line-height: 1;
    	margin: 0;
	}
}

.categoryTree {
	margin-left:-25px;
}

ul.items.thumbnails .item.thumbnail {
	width: 205px;
	text-align: center;
	position: relative;
	.adminEdit {
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
		background: black;
		color: white;
		padding: 2px 4px;
		border-radius: 4px 0 4px 0;
		font-size: 9px;
	}
	h4 {
		font-size: 16px;
        margin: 0;
		padding: 0;
	}
	i.code {
		display:block;
		margin-bottom: 4px;
	}	
	.optionSelect {
		position:absolute;
		top:0;
		right:0;
		width:90px;
		border:none;
	}
	.singleOptionName {
		position:absolute;
		top:0;
		right:0;
		width:90px;
		background: white;
	}
	.caption {
		text-align: left;
		height: 100px;
		padding: 4px;
	}
	.listImage {
		a {
			display: block;
			position: relative;
			.iSold {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-image: url('/img/ico_sold.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
		
}

ul.items.thumbnails.list .item.thumbnail {
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	.listImage {
		float: left;
		width: 170px;
		margin-right: 10px;
		
	}
	.caption {
		width: 500px;
		height: auto;
		padding: 0 9px;
	}
	.listForm {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.optionSelect {
		right: auto;
		left: 0;
	}
}

.pagination {
	margin: 0;
	margin-bottom: 15px;
}


table#shoppingCart {
	width: 100%;
	th {
		text-align:left;
	}
	input[type=text] {
		width: 50px;
	}
	input[type=number] {
		width: 50px;
	}
}


i.code {
    color: #999;
}


#suggestedCarousel {
	margin-top: 50px;
	margin-bottom: 50px;
	.item {
		height: 400px;
		overflow: hidden;
		ul.breadcrumb {
			background: white;
			margin-bottom: 0;
			li {
				line-height: 36px;
			}
			h1 {
				line-height: 36px;
				padding: 0;
				margin: 0;
			}
		}
		img {
			float: left;
			margin-left: 120px;
			height: 340px;
			margin-right: 20px;
		}
		.carousel-caption {
			margin: 0;
			padding: 0;
			position: static;
			background-color: transparent;
			width: auto;
			right: auto;
			top: auto;
			bottom: auto;
			left: auto;
		}
		.carousel-caption .lead {
			margin: 0;
			padding-right: 40px;
			line-height: 1.25;
			color: #333;
			p {
				font-size: 15px;
				color: #333;
			}
		}
		.carousel-caption .btn {
			margin-top: 15px;
		}
	}
	
	ol.carousel-indicators li {
		background-color: #bbb;
	}
	ol.carousel-indicators li.active {
		background-color: #e85;
	}
}

footer {
	font-size: 11px;
	border-top: 1px solid #ddd;
	min-height: 50px;
	padding: 10px;
	
}

#categoriesmap {
	column-count: 2;
	column-gap: 20px;
	padding: 20px;
	color: #666;
	a {
		color: #666;
		display: block;
		padding: 1px;
	}
	ul {
		list-style-type: none;
		padding-left: 10px;
	}
	> ul > li {
		font-size: 13px;
		margin-bottom: 5px;
	}
	> ul > li > ul > li > a {
		font-weight: bold;
	}
	> ul > li > ul {
		overflow: auto;
	}
	> ul > li > ul > li {
		float: left;
		margin-left: 20px;
	}
	> ul > li > ul > li > ul > li {
		float: left;
		margin-left: 10px;
	}
}

form.advancedSearch {
	input, select {
		width:90%;
	}
	input.half {
		width:40%;
	}
}

td.error {
	ul { 
		list-style-type: none;
		padding:0;
		margin:0 ;
	}
}
ul.errorlist {
	color: red;
	padding: 0;
	margin:0 ;
	list-style-type: none;
}

@media (max-width: 500px) {
	label {
		width: auto;
	}
	input[type=text], input[type=email], textarea, .uneditable-input {
		width: 120px;
	}
	.table .table {
		width: 95%;
	}
}

