{% load cadocms_tags %}

<tr class="{% if item.field.required %}required {% endif %} {{ type_class }}">
    <th>{{ item.label_tag }}</th>    
    
    <td {% for key, error in item.form.errors.items %}{% if item.name = key %}class="error"{% endif %}{% endfor %}>
		    {% for key, error in item.form.errors.items %}
		    		{% if item.name = key %}
    				<ul>
		    			<li>{{error}}</li>
		    		</ul>
		            {% endif %}
		    {% endfor %}
		    
    	{{ item }}
    	{% if item.field.help_text %}
    		<p class="help">{{ item.field.help_text }}</p>
    	{% endif %}
    </td>
</tr>