{% extends "html5.html" %}

{% load i18n %}
{% load mptt_tags %}
{% load cadoshop_tags %}
{% load cadocms_tags %}
{% load url from future %}

{% block extra_html_scripts %}
	<script type='text/javascript' src="{{ STATIC_URL }}shop.js"></script>
{% endblock %}

{% block html_body %}

<div class="container">
	<header>
		<div class="masthead">
		
		
			<ul class="nav nav-pills pull-right">
				{% captureas cart_url %}{% url "plata_shop_cart" %}{% endcaptureas %}						
				<li{% if request.path = cart_url %} class="active"{% endif %}>	
					<a href="{{cart_url}}">
						<i class="icon-shopping-cart"></i> {% trans "Cart" %} {% if user_order_total %} ({{user_order_total}}) {% endif %}
					</a>
				</li>
				{% captureas contact_url %}{% url "cadoshop.views.contact" %}{% endcaptureas %}
				<li{% if request.path = contact_url %} class="active"{% endif %}>
					<a href="{{contact_url}}">
						{% trans "Contact" %}
					</a>
				</li>
			</ul>
			<!-- 
			{% get_available_languages as languages %}
			{% get_current_language as current_language %}
			<ul class="nav nav-pills pull-right">
				{% for code, language in languages %}
					<li{% if code == current_language %} class="active"{% endif %}>
						<a title="{{language}}" href="/{{code}}/" class="{{code}}">{{language}}</a>
					</li>
				{% endfor %}
				</li>
			</ul>
			 -->
			
			<div class="muted pull-right" style="margin-right:30px;">
				{% chunk 'TOP_CONTACT' %}
			</div>
			
			<h3>
				<a href="/">
					<img src="{{STATIC_URL}}sitelogo.png" alt="{% setting 'CADO_NAME' %}"/>
				</a>
			</h3>
			
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						{% recursetree categories %}
							{% if node.level == 0 %}
								<li {% if node.slug = search_params.category %} class="active" {% endif %}>
									<a href="{% url "cadoshop.views.search" category_slug=node.slug %}">{{ node.name }}</a>
								</li>
								{{ children }}
							{% elif node.level == 1 %}
								<li class="{% if node.slug in categories_path %}active{% endif %} {% if not node.is_leaf_node %}dropdown{% endif %}">
									<a class="dropdown-toggle" data-toggle="dropdown" href="{% url "cadoshop.views.search" category_slug=node.slug %}">{{ node.name }}</a>
									{% if not node.is_leaf_node %}
										<ul class="dropdown-menu">
											{{ children }}
										</ul>
									{% endif %}
								</li>
							{% else %}
								<li class="{% if node.slug in categories_path %}active{% endif %} {% if not node.is_leaf_node and node.level < 3 %}dropdown-submenu{% endif %}">
									<a href="{% url "cadoshop.views.search" category_slug=node.slug %}">{{ node.name }}</a>
									{% if not node.is_leaf_node and node.level < 3 %}
										<ul class="dropdown-menu">
											{{ children }}
										</ul>
									{% endif %}
								</li>
							{% endif %}
						{% endrecursetree %}
					</ul>
					
					<div class="pull-right" style="margin-right:20px;">			
						{% search_form_simple %}
					</div>
				</div>
			</div><!-- /.navbar -->
		</div>
	</header>

    
	<div id="page">
	
		{% block breadcrumbs %}
		<ul class="breadcrumb">
			<li><a href="/">{% setting "CADO_NAME" %}</a> <span class="divider">&gt;</span></li>
			<li class="active">{% block title %}{% endblock %}</li>
		</ul>
		{% endblock %}
	
	
		{% captureas sidebar_content %}{% spaceless %}{% block sidebar %}{% endblock %}{% endspaceless %}{% endcaptureas %}  
		
		
		<div class="container-fluid">
			<div class="row-fluid">
				{% if sidebar_content %}
				<div class="span3">
					<div class="sidebar-nav">
					{{sidebar_content}}
					</div>
				</div>
				{% endif %}
			
				<div id="content" {% if sidebar_content %} class="span9"{% endif %}>
				{% block before %}
				{% endblock %}
				{% block content %}
				{% endblock %}
				{% block after %}
				{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	{% comment %}
	<div id="categoriesmap" class="container clear">
		<ul>
			{% recursetree categories %}
			    <li>
			        <a href="{% url "cadoshop.views.search" category_slug=node.slug %}" title="{{node.seo_description}}">{{ node.name }}</a>			        
			        {% if not node.is_leaf_node and node.level < 3 %}
			            <ul class="children">
			                {{ children }}
			            </ul>
			        {% endif %}
			    </li>
			{% endrecursetree %}
		</ul>
	</div>
	{% endcomment %}
	<div class="container clearfix">
		<div class="pull-left">
			{% setting 'CADO_NAME' %} &copy; {% now "Y" %}
			&nbsp; &nbsp; &nbsp;
			<a href="/terms-and-conditions">{% trans "Terms &amp; Conditions" %}</a>
			<!-- &nbsp; &nbsp; &nbsp;
			<a href="/privacy-policy">{% trans "Privacy Policy" %}</a> -->
		</div>
		<div class="pull-right">
			{% trans "powered by" %} <a href="http://github.com/fsw/django-cadoshop">CadoShop</a>
		</div>
	</div>
</footer>
{% endblock %}