{% extends "base.html" %}

{% load cadocms_tags %}

{% block title %} Register {% endblock %}

{% block content %}



<div class="single">
<form method="post" action="#"  class="form-horizontal">

	<fieldset>
	    <div class="control-group">
       		<div class="controls clearfix">
    			<h1><i class="blackTab icon-envelope"></i>Register</h1>
       		</div>
       	</div>
	
		{% if form.non_field_errors or form.errors %}
		<div class="control-group">
       		<div class="controls">
				<div class="alert alert-error fade in">
	 				<a class="close" data-dismiss="alert" href="#">&times;</a>
	 				Your form contained errors. please fix them and try again.
	 				<ul>
		  				{% for error in form.non_field_errors %}
		        			<li>{{ error }}</li>
		    			{% endfor %}
	   				</ul>
				</div>
			</div>
		</div>
		{% endif %}
		
       	{% csrf_token %}
  
  		{% comment %}
        <div class="control-group">
       		<div class="controls">
       			You can also skip registration and
	       		<a class="btn btn-primary" href="{% url "social:begin" "facebook" %}">
	       			<i class="icon-facebook"></i>
	       			login with Facebook
	       		</a>
	       		or
	       		<a class="btn btn-danger" href="{% url "social:begin" "google-oauth2" %}">
	       			<i class="icon-google-plus"></i>
	       			login with Google Accounts
	       		</a>
	       		
       		</div>
       	</div>
       	{% endcomment %}
  
       	{% for field in form %}
	     	{% if not field.is_hidden %}
				<div class="control-group {% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}">
					<label class="control-label" for="{{ field.label_id }}">{{ field.label }}</label>
					<div class="controls">
						{{ field }}
						{% if field.errors %}
							<span class="help-inline">{{ field.errors }}</span>
						{% endif %}
						{% if field.help_text %}
							<p class="help-block">{{ field.help_text }}</p>
						{% endif %}
					</div>
				</div>
	     	{% endif %}
		{% endfor %}
       	
       	<div class="control-group">
       		<div class="controls clearfix">
       			<button type="submit" class="btn btn-primary">Register</button>
       		</div>
       	</div>
       	
    </fieldset>
</form>
</div>
{% endblock %}