{% extends "base.html" %}

{% load i18n %}
{% load cadocms_tags %}
{% load cadoshop_tags %}

{% block seo_title %}{% trans "Contact Us" %} | {{ block.super }}{% endblock %}
{% block title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}
<div class="pull-left">
	{% chunk 'CONTACT' %}
</div>
<div class="pull-right">
	<form method='post' action="{% url 'cadoshop.views.contact' %}">
		<h5>Send Online Enquiry</h5>
		{% csrf_token %}
		{{ form }}
		<div class="controls controls-row">
			<button type="submit" class="btn btn-success">
				Send
			</button>
		</div>
	</form>
</div>
{% endblock %}