{% extends "base.html" %}

{% load i18n %}
{% load cadoshop_tags %}

{% block seo_title %}
{{ object.manufacturer.name }}
{% for url, name in breadcrumbs reversed %}
{% if not forloop.last %}
{{ name }} |
{% endif %}
{% endfor %} 
{{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		{% for url, name in breadcrumbs %}
			{% if url %}
			<li><a href="{{url}}">{{ name }}</a> <span class="divider">&gt;</span></li>
			{% else %}
			<li class="active">{{ name }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}


{% block content %}
<div style="padding:20px;" class="item clearfix">
<h1>{{ object }}</h1>
{% if object.code %}
<i class="code">Product code: {{ object.code }}</i>
{% endif %}

	{% if options|length > 1 %}
		<select class="optionSelect input-small" >
		{% for p in options %}
			<option value="{{forloop.counter}}">{{p.name}}</option>
		{% endfor %}
		</select>
	{% endif %}
	<div class="clearfix">
		<div class="thumbnail pull-right">
		
			{% for option in options %}
				<div class="option{{forloop.counter}} optionPer">
					{% if option.image %}
		            	<a rel="gallery{{object.id}}" href="{{ option.image.url }}" class="fancybox">
		            		<img src="{{ option.thumbnail.url }}"/>
						</a>
					{% elif object.image1 %}
		            	<a rel="gallery{{object.id}}" href="{{ object.image1.url }}" class="fancybox">
		            		<img src="{{ object.thumbnail.url }}"/>
						</a>
					{% else %}
						<img src="/static/img/no_photo.png">
					{% endif %}
				</div>
			{% endfor %}
			<div class="hidden">
		        {% if object.image1 and options.0.image %}
				<a rel="gallery{{object.id}}" href="{{ object.image1.url }}" class="fancybox">
		          		<img src="{{ object.thumbnail.url }}"/>
				</a>
				{% endif %}
				{% if object.image2 %}
				<a rel="gallery{{object.id}}" href="{{ object.image2.url }}" class="fancybox">
		          		<img src="{{ object.thumbnail.url }}"/>
				</a>
				{% endif %}
				{% if object.image3 %}
				<a rel="gallery{{object.id}}" href="{{ object.image3.url }}" class="fancybox">
		          		<img src="{{ object.thumbnail.url }}"/>
				</a>
				{% endif %}
				{% if object.image4 %}
				<a rel="gallery{{object.id}}" href="{{ object.image4.url }}" class="fancybox">
		          		<img src="{{ object.thumbnail.url }}"/>
				</a>
				{% endif %}
				{% if object.image5 %}
				<a rel="gallery{{object.id}}" href="{{ object.image5.url }}" class="fancybox">
		          		<img src="{{ object.thumbnail.url }}"/>
				</a>
				{% endif %}
			</div>
			
		</div>
	</div>
<p>
	{{ object.description|urlize_hashtags }}
</p>

{{object|display_extra_fields}}

{%comment%}
{% for option in options %}
  		<div class="optionPer option{{forloop.counter}}">
  			{{option|display_extra_fields}}
  		</div>
{% endfor %}
{%endcomment%}

{% if object.attachments.all %}
	<h3>attachments</h3>
	<ul>
	{% for a in object.attachments.all %}
		<li><a target="_blank" href="{{a.file.url}}" title="{{a.name}}">{{a.name}}</a></li>
	{% endfor %}
	</ul>	
{% endif %}

{% if fits %}
	<h3>spare parts for this product:</h3>
	<ul class="thumbnails">
	{% for product in fits %}
	<li class="thumbnail">
		<a href="{{product.get_absolute_url}}">
			{% if product.image1 %}
	           	<img src="{{ product.tiny_thumbnail.url }}"/>
			{% else %}
				<img width="50" height="50" src="/static/img/no_photo.png">
			{% endif %}
			{{product.name}}
		</a>
	</li>
	{% endfor %}
	</ul>
{% endif %}


{% if fits_to %}
	<h3>this product fits to:</h3>
	<ul class="thumbnails">
	{% for product in fits_to %}
	<li class="thumbnail">
		<a href="{{product.get_absolute_url}}">
			{% if product.image1 %}
	           	<img src="{{ product.tiny_thumbnail.url }}"/>
			{% else %}
				<img width="50" height="50" src="/static/img/no_photo.png">
			{% endif %}
			{{product.name}}
		</a>
	</li>
	{% endfor %}
	</ul>
{% endif %}

{% if object.category.per_product_info %}
<br/>&nbsp;<br/>
{{object.category.per_product_info}}
{% endif %}

{% for option in options %}
<div class="optionPer option{{forloop.counter}}">
	<form method="post" action="{{object.get_absolute_url}}" class="pull-right">
	{% csrf_token %}
	<div><b>{{ option.get_price.get_price_string }}</b></div>
	<div>{{ option.show_left }}</div>
	<div class="input-append">
	    <input type="number" min="1" step="1" name="count" value="{{option.product.category.product_default_count}}" class="input-mini"/>
		<span class="add-on">{% trans option.product.category.product_unit %}</span>
	</div>
	<div class="">
		<input type="hidden" name="product" value="{{ option.id }}"/>
	    <button class="btn btn-large btn-warning" type="submit">{% trans "Add to cart" %}</button>
	</div>
	</form>
</div>
{% endfor %}

</div>
{% endblock %}