{% extends "base.html" %}

{% load i18n %}
{% load cadoshop_tags %}
{% load mptt_tags %}
{% load bootstrap_pagination %}

{% block breadcrumbs %}
{% endblock %}
	
{% block content %}
<div id="suggestedCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		{% for product in suggested %}
		<li data-target="#suggestedCarousel" data-slide-to="{{forloop.counter0}}"{% if forloop.counter = 1 %} class="active"{% endif %}></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for product in suggested %}
		<div class="item{% if forloop.counter = 1 %} active{% endif %}">
			<div class="container">
				<div class="carousel-caption">
					<ul class="breadcrumb">
						{% for url, name in product.get_bc_path %}
							{% if url %}
							<li><a href="{{url}}">{{ name }}</a> <span class="divider">&gt;</span></li>
							{% else %}
							<li><h1>{{ name }}</h1></li>
							{% endif %}
						{% endfor %}
					</ul>
					{% if product.image1 %}
					<img src="{{product.image1.url}}" alt=""/>
					{% endif %}
					<div class="lead">{{product.description|striptags|truncatechars:400|urlize_hashtags|safe}}</div>
					<a class="btn btn-large btn-primary" href="{{product.get_absolute_url}}">Zobacz</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#suggestedCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#suggestedCarousel" data-slide="next">&rsaquo;</a>
</div>    
{% endblock %}