{% load i18n %}
{% load cadoshop_tags %}
{% load cadocms_tags %}

<li class="thumbnail item clearfix">
    {% if user.is_staff %}
	  <a class="adminEdit" href="{{ group.documents.0.object.product.get_admin_edit_url }}"><i class="icon-edit"></i> edit</a>
    {% endif %}
    
	{% if group.documents|length > 1 %}
		<select class="optionSelect input-small" >
		{% for document in group.documents %}
			<option value="{{forloop.counter}}">{{document.object.name}}</option>
		{% endfor %}
		</select>
	{% elif group.documents|length = 1 %}
		{% if group.documents.0.object.name != 'default' %}
		<span class="singleOptionName">{{group.documents.0.object.name}}</span>
		{% endif %}
	{% endif %}
	<div class="listImage">
		{% for document in group.documents %}
		<div class="option{{forloop.counter}} optionPer">
            <a href="{{group.documents.0.object.product.get_absolute_url}}">
			{% if document.object.image %}
            	<img width="100%" src="{{ document.object.thumbnail.url }}"/>
			{% elif document.object.product.image1 %}
            	<img width="100%" src="{{ document.object.product.thumbnail.url }}"/>
			{% else %}
				<img width="100%" height="170" src="/static/img/no_photo.png">
			{% endif %}
			
			{% if "CADOSHOP_MANAGESTOCK"|setting %}
				{% if document.object.items_in_stock < 1 %}
					<span class="iSold"></span>
				{% endif %}
			{% endif %}
			
			</a>
			
		</div>
		{% endfor %}
	</div>
	{% comment %}
	{% for document in group.documents %}
		<div class="option{{forloop.counter}} optionPer">
			{% if document.object.image %}
            	<a rel="gallery{{document.object.product.id}}" href="{{ document.object.image.url }}" class="fancybox">
            		<img width="100%" src="{{ document.object.thumbnail.url }}"/>
				</a>
			{% elif document.object.product.image1 %}
            	<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image1.url }}" class="fancybox">
            		<img width="100%" src="{{ document.object.product.thumbnail.url }}"/>
				</a>
			{% else %}
				<img width="100%" height="170" src="/static/img/no_photo.png">
			{% endif %}
		</div>
	{% endfor %}
	</div>
	<div class="hidden">
         		{% if document.object.product.image1 %}
		<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image1.url }}" class="fancybox">
          		<img src="{{ document.object.thumbnail.url }}"/>
		</a>
		{% endif %}
		{% if document.object.product.image2 %}
		<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image2.url }}" class="fancybox">
          		<img src="{{ document.object.thumbnail.url }}"/>
		</a>
		{% endif %}
		{% if document.object.product.image3 %}
		<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image3.url }}" class="fancybox">
          		<img src="{{ document.object.thumbnail.url }}"/>
		</a>
		{% endif %}
		{% if document.object.product.image4 %}
		<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image4.url }}" class="fancybox">
          		<img src="{{ document.object.thumbnail.url }}"/>
		</a>
		{% endif %}
		{% if document.object.product.image5 %}
		<a rel="gallery{{document.object.product.id}}" href="{{ document.object.product.image5.url }}" class="fancybox">
          		<img src="{{ document.object.thumbnail.url }}"/>
		</a>
		{% endif %}
	</div>
	{% endcomment %}
	
	
	<div class="caption">
		<h4>
			<a href="{{group.documents.0.object.product.get_absolute_url}}">
			{{ group.documents.0.object.product.name }}
			</a>
		</h4>
        <i class="code">{{ group.documents.0.object.product.code }}</i>
		{{ group.documents.0.object.product|display_important_extra_fields }}
		
		{% if search_params.view == 'list' %}
    		{{ group.documents.0.object.product.description|truncatewords_html:40|urlize_hashtags|safe}}
    		<a href="{{group.documents.0.object.product.get_absolute_url}}">... {% trans "read more" %}</a>
			{% for document in group.documents %}
	    		<div class="optionPer option{{forloop.counter}}">
			    {% for key, item in document.object.extra_fields.items %}
				    {{key}}: &nbsp; <strong>{{item}}</strong><br/>
			    {% endfor %}
	    		</div>
			{% endfor %}

		{% else %}
		    {{ group.documents.0.object.product.description|truncatewords_html:9|striptags|urlize_hashtags|safe}}
		    <a href="{{group.documents.0.object.product.get_absolute_url}}"> {% trans "read more" %}</a>
		{% endif %}
    </div>
    <div class="listForm">
	{% for document in group.documents %}
    	<div class="clearfix">
			<b class="pull-right optionPer option{{forloop.counter}}">
			{{ document.object.get_price.get_price_string }}
			</b>
		</div>
    	<div class="clearfix">
			<form action="" class="optionPer option{{forloop.counter}} form-inline" method="post" style="margin-bottom:0">
				{% csrf_token %}
				{% if "CADOSHOP_MANAGESTOCK"|setting %}
				<div class="pull-right">
					{{ document.object.show_left }}
				</div>
				{% endif %}
				
				<div class="pull-right input-append">
    				<input type="number" name="count" value="{{document.object.product.category.product_default_count}}" class="input-mini" style="width:40px;" >
					<span class="add-on">{% trans document.object.product.category.product_unit %}</span>
					<input type="hidden" name="product" value="{{ document.object.id }}"/>
    				<button class="btn btn-warning" type="submit">{% trans "to cart" %}</button>
    			</div>
			</form>
		</div>
	{% endfor %}
	</div>
</li>