{% load cadoshop_tags %}

		<form method='get' action="{% url 'cadoshop.views.search' category_slug='all' %}">
		<ul id="filterform">
    		<legend>My Form</legend>
			TODO
			<li><input type="submit" value="filter"/></li>
		</ul>
		</form>