{% load cadoshop_tags %}

<form class="advancedSearch" method='get' action="{% url 'cadoshop.views.search' category_slug=category_slug %}" class="clearfix">
	<!-- form.as_p -->
	
	<h5>Search for</h5>
	<div class="controls controls-row">
		<input placeholder="contains text..." type="text" name="q" value="{{ form.q.value|default_if_none:'' }}"/>
	</div>
	
	{% for key, filter in filters %}
	
		<h5>{{filter.label}}</h5>
		<div class="controls controls-row">
			{% if filter.type == 'int' or filter.type == 'float' %}
			<input class="half" type="text" name="filter[{{key}}_from]" placeholder="From" value="{{ filter.from|default_if_none:'' }}">
			<input class="half" type="text" name="filter[{{key}}_to]" placeholder="To" value="{{ filter.to|default_if_none:'' }}">
			{% elif filter.type == 'bool' %}
			<select name="filter[{{key}}]">
				<option value="">-- any --</option>
				<option value="1" {% if filter.value == '1' %} selected="selected"{% endif %}>Yes</option>
				<option value="0" {% if filter.value == '0' %} selected="selected"{% endif %}>No</option>
			</select>
			{% elif filter.type == 'select' %}
			<select name="filter[{{key}}]">
				<option value="">-- any --</option>
				{% for k,choice in filter.choices %}
				<option value="{{k}}" {% if filter.value == k %} selected="selected"{% endif %}>{{choice}}</option>
				{% endfor %}
			</select>
			{% else %}
			<input placeholder="contains text..." type="text" name="filter[{{key}}]" value="{{ filter.value|default_if_none:'' }}"/>
			{% endif %}
		</div>
		
	{% endfor %}
	
	<div class="controls controls-row clearfix">
		<button type="submit" class="btn btn-success  pull-right">
		    <i class="icon-search icon-white"></i> Search
		</button>
	</div>
</form>