{% extends "base.html" %}

{% load i18n %}
{% load cadoshop_tags %}
{% load mptt_tags %}
{% load bootstrap_pagination %}

{% block seo_title %}
{% for url, name in breadcrumbs reversed %}
{% if not forloop.last %}
{{ name }} |
{% endif %}
{% endfor %} 
{{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		{% for url, name in breadcrumbs %}
			{% if url %}
			<li><a href="{{url}}">{{ name }}</a> <span class="divider">&gt;</span></li>
			{% else %}
			<li class="active">{{ name }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
	
{% block sidebar %}
<ul class="nav nav-list">
	{% recursetree categories %}
	<li {% if category.lft = node.lft and category.rght = node.rght %} class="active"{% endif %}>
		{% if node.level > 0 %}
			<a href="{% search_url category=node.slug %}"><i class="icon-chevron-right"></i>
			{{ node.name }} ({{ node.count }})</a>
			<!--  /{{ node.total }}) -->
		{% endif%}
		{% if not node.is_leaf_node %}
			{% if category.lft >= node.lft and category.rght <= node.rght %}
				<ul class="nav nav-list">
			        {{ children }}
			    </ul>
	    	{% endif %}
	    {% endif %}
	    
    </li>
	{% endrecursetree %}
</ul>
	
{% search_form_advanced %}


{% endblock %}

{% block before %}
	{% block after %}
	<div class="clearfix">
		<div class="pull-left">
	    	{% bootstrap_paginate page %}
		</div>
		<!-- {{facet_json}} -->
		<div class="btn-group pull-right">
    		<a class="btn{% if search_params.view == 'list' %} active{% endif %}" href="{% search_url view='list' %}" title="{% trans "Show as List" %}"><i class="icon-align-justify"></i></a>
    		<a class="btn{% if search_params.view != 'list' %} active{% endif %}" href="{% search_url view='grid' %}" title="{% trans "Show as Grid" %}"><i class="icon-th"></i></a>
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                {% trans "order results..." %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% search_url order='score' %}">
                    {% trans "...by relevance" %}
                    {% if search_params.order == 'score' %}<i class="icon-ok"></i>{% endif %}
                </a></li>
                <li><a href="{% search_url order='price' %}">
                    {% trans "...by price, cheapest first" %}
                    {% if search_params.order == 'price' %}<i class="icon-ok"></i>{% endif %}
                </a></li>
                <li><a href="{% search_url order='-price' %}">
                    {% trans "...by price, expensive first" %}
                    {% if search_params.order == '-price' %}<i class="icon-ok"></i>{% endif %}
                </a></li>
                <li><a href="{% search_url order='name_exact' %}">
                    {% trans "...by name, A-Z" %}
                    {% if search_params.order == 'name_exact' %}<i class="icon-ok"></i>{% endif %}
                </a></li>
                <li><a href="{% search_url order='-name_exact' %}">
                    {% trans "...by name, Z-A" %}
                    {% if search_params.order == '-name_exact' %}<i class="icon-ok"></i>{% endif %}
                </a></li>
            </ul>
        </div>
	</div>    
	{% endblock %}
{% endblock %}

{% block content %}
<ul class="items thumbnails {{search_params.view}}">
	{% for group in page.object_list %}
		{% include "shop/item.html" %} 
	{% endfor %}
</ul>
{% endblock %}