You order {{order}} was confirmed.

{% include "plata/_order_overview.html" %}

<p>
If you selected "Bank Transfer" as your payment method, or your payment gateway failed, you can pay the amount due to:
</p>

{% include "plata/_bt_info.html" %}

<p>
Your order will be ready for further processing as soon as we receive your payment.
</p>