{% if address.company %}{{ address.company }}<br />{% endif %}
{{ address.first_name }} {{ address.last_name }}<br />
{{ address.address|linebreaksbr }}<br />
{{ address.city }} {{ address.state }} {{ address.zip_code }}<br />
{{ address.country }}<br/>
{{ address.phone }}<br/>


