{% load i18n %}
<h2>{% trans "Email" %}</h2>
<a href="mailto:{{order.email}}">{{order.email}}</a>
{% with order.addresses as addresses %}
<h2>{% trans "Billing address" %}</h2>
{% with addresses.billing as address %}{% include "plata/_address.html" %}{% endwith %}

<h2>{% trans "Shipping address" %}</h2>
{% with addresses.shipping as address %}{% include "plata/_address.html" %}
{% if address.address = 'Pickup in shop' %}
<div id="pickup"></div>
{% endif %}
{% endwith %}
{% endwith %}

<h2>{% trans "Order items" %}</h2>
<table border="1">
{% for item in order.items.all %}
<tr>
    <td>{{ item.product.get_tiny_thumbnail_img }}</td>
    <td>{{ item.product }}</td>
    <td>{% if item.product.product.code %}{{ item.product.product.code }}{% endif %}</td>
    <td>{{ item.quantity }}{{ item.product.category.product_unit }} * {{ item.currency }} {{ item.unit_price|floatformat:2 }}</td>
    <td>{{ item.currency }} {{ item.discounted_subtotal|floatformat:2 }}</td>
</tr>
{% endfor %}
</table>

<!-- 
<h2>{% trans "Discounts" %}</h2>
{% for discount in order.applied_discounts.all %}
    {% if forloop.first %}
    <table>
    {% endif %}

    <tr>
        <td>{{ discount.name }}</td>
        <td>{{ discount.code }}</td>
    </tr>

    {% if forloop.last %}
    </table>
    {% endif %}
{% empty %}
    {% trans "No discounts" %}
{% endfor %}
 -->
 
<h2>{% trans "Total" %}</h2>
<table>
<tr>
    <th>{% trans "subtotal"|capfirst %}</th>
    <td>{{ order.currency }} {{ order.subtotal|floatformat:2 }}</td>
</tr>
<tr>
    <th>{% trans "shipment"|capfirst %}</th>
    <td>{{ order.currency }} {{ order.shipping|floatformat:2 }}</td>
</tr>
<tr>
    <th>{% trans "tax"|capfirst %}</th>
    <td>{{ order.currency }} {{ order.tax|floatformat:2 }}</td>
</tr>
<tr>
    <th>{% trans "total"|capfirst %}</th>
    <td>{{ order.currency }} {{ order.total|floatformat:2 }}</td>
</tr>

</table>
