{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block seo_title %}{% trans "Order summary" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url "plata_shop_cart" %}">{% trans "Shopping Cart" %}</a> <span class="divider">&gt;</span></li>
		<li><a href="{% url "plata_shop_checkout" %}">{% trans "Checkout" %}</a> <span class="divider">&gt;</span></li>
		<!-- <li><a href="{% url "plata_shop_discounts" %}">{% trans "Discounts" %}</a> <span class="divider">&gt;</span></li> -->
		<li class="active">{% trans "Payment method" %}</li>
	</ul>
{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}

<table class="table table-striped table-bordered">
	<thead>
    	<tr>
    		<td colspan="2">
				<h1>{% trans "Order summary" %}</h1>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				{% include "plata/_order_overview.html" %}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
			<h2>{% trans "Payment and order confirmation" %}</h2>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{% for key, error in form.errors.items %}
		    		{% if key = 'terms_and_conditions' %}
    				<ul>
		    			<li>{{error}}</li>
		    		</ul>
		            {% endif %}
		    	{% endfor %}
                <label class="checkbox">
                	{% form_item_plain form.terms_and_conditions %}
                	{% trans "I accept the terms and conditions." %}
                </label>
            </td>
        </tr>
		{% form_item form.payment_method %}
		<tr>
			<td style="text-align:right;" colspan="2">	
		        <button type="submit" class="btn btn-large btn-success" name="proceed">
					{% trans "Continue" %}
					<i class="icon-double-angle-right"></i>
				</button>
			</td>		
		</tr>
	</tfoot>
</table>
</form>
{% endblock %}

 {% block extra_html_scripts %}
 	{{ block.super }}
<script type="text/javascript">
 	$(function(){
 		
 		if($('#pickup').length){
 			if($("#id_payment_method option[value='cadoshop.payment.cash']").length){
 				$("#id_payment_method option[value='cadoshop.payment.cash']").prop('selected', true);
 				$("#id_payment_method").parent().parent().hide();
 			}
 		} else {
 			$("#id_payment_method option[value='cadoshop.payment.cash']").remove();
 		}
 		
 		/*
 		if($('#pickup').length){
 			$("#id_payment_method option[value='cadoshop.payment.contact']").remove();
 		} else {
 			$("#id_payment_method option[value='cadoshop.payment.contact']").prop('selected', true);
 			$("#id_payment_method").parent().parent().hide();
 		}*/
 	})
 </script>	
{% endblock %}