{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block seo_title %}{% trans "Discounts" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url "plata_shop_cart" %}">{% trans "Shopping Cart" %}</a> <span class="divider">&gt;</span></li>
		<li><a href="{% url "plata_shop_checkout" %}">{% trans "Checkout" %}</a> <span class="divider">&gt;</span></li>
		<li class="active">{% trans "Discounts" %}</li>
	</ul>
{% endblock %}


{% block content %}
<form method="post" action=".">{% csrf_token %}

<table class="table table-striped table-bordered">
	<thead>
    	<tr>
    		<td colspan="2">
				<h1>{% trans "Discounts" %}</h1>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				{% include "plata/_order_overview.html" %}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
			<h2>{% trans "Voucher code" %}</h2>
			{% form_errors form %}
			</td>
		</tr>
			{% form_item form.code %}
		<tr>
		    <td style="text-align:right;" colspan="2">	
		    	<input class="btn btn-warning" type="submit" name="save" value="{% trans "Add voucher" %}" />
		        <button type="submit" class="btn btn-large btn-success" name="proceed">
					{% trans "Continue" %}
					<i class="icon-double-angle-right"></i>
				</button>
			</td>		
		</tr>
	</tfoot>
</table>
</form>
{% endblock %}