{% extends base_template|default:"base.html" %}

{% load url from future %}
{% load i18n plata_tags %}
{% load url from future %}

{% block seo_title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active">{% trans "Success" %}</li>
	</ul>
{% endblock %}


{% block content %}
<table class="table table-striped table-bordered">
	<thead>
    	<tr>
    		<td colspan="2">
    			{% if not order.balance_remaining %}
				    <h1>{% trans "Thank you for shopping with us!" %}</h1>
				    {# TODO this isn't correct for cash on delivery #}
				{% else %}
				    {% if order.paid %}
				        <h1>{% trans "Order has been partially paid." %}</h1>
				    {% else %}
				        <h1>{% trans "Order has been confirmed." %}</h1>
				    {% endif %}
				    <p>{% trans "As soon as we receive a confirmation from the payment provider, you'll be sent a confirmation e-mail." %}</p>
				{% endif %}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				{% include "plata/_order_overview.html" %}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
		    <td style="text-align:right;" colspan="2">	
		        <button type="button" class="btn btn-large btn-warning" onclick="window.location.href='{% url "plata_order_new" %}'">
					{% trans "Create new order" %}
				</button>
			</td>		
		</tr>
	</tfoot>
</table>

{% endblock %}