{% extends base_template|default:"base.html" %}

{% load i18n plata_tags cadocms_tags %}

{% block seo_title %}{% trans "Cart" %} | {{ block.super }}{% endblock %}
{% block title %}{% trans "Cart" %}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active">{% trans "Shopping Cart" %}</li>
	</ul>
{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}{{ orderitemformset.management_form }}
<table id="shoppingCart" class="table table-striped table-bordered">
	<thead>
    <tr>
        <th colspan="5">
		{% if empty %}
			<h1>{% trans "Cart is empty!" %}</h1>
		{% else %}
			<h1>{% trans "Shopping Cart" %}</h1>
		{% endif %}
		</th>
		{% form_errors orderitemformset %}
    <tr>
        <th>{% trans "product"|capfirst %}</th>
        
        {% if not "CADOSHOP_ONLYSINGLE"|setting %}
        
        <th>{% trans "unit price"|capfirst %}</th>
        
        <th>{% trans "quantity"|capfirst %}</th>
        
        	{% if "CADOSHOP_MANAGESTOCK"|setting %}
        		<th>{% trans "In stock"|capfirst %}</th>
        	{% endif %}
        {% endif %}

        <th>{% trans "line item price"|capfirst %}</th>
        <th></th>
    </tr>
	</thead>
	<tbody>
{% for orderitemform in orderitemformset.forms %}
    <tr>
        <td>
        	<a href="{{ orderitemform.instance.product.product.get_absolute_url }}">
        	{{ orderitemform.instance.product.get_tiny_thumbnail_img }}
        	{{ orderitemform.instance.product }}
        	</a>
       	</td>
       	
       	{% if not "CADOSHOP_ONLYSINGLE"|setting %}
        	<td>{{ orderitemform.instance.product.get_price.get_price_string }}</td>
        	<td>
            	{{ orderitemform.id }}
	            {% form_item_plain orderitemform.quantity %}
        	</td>
        	{% if "CADOSHOP_MANAGESTOCK"|setting %}
        		<td>{{ orderitemform.instance.product.items_in_stock }} </td>
        	{% endif %}
            <td>{{ orderitemform.instance.discounted_subtotal|floatformat:2 }}</td>
		{% else %}
		    <td>
		    {{ orderitemform.id }}
		    <input type="hidden" name="items-{{forloop.counter0}}-quantity" value="1"/>
		    {{ orderitemform.instance.discounted_subtotal|floatformat:2 }}
		    
		    </td>
        {% endif %}
        
        
        <td>
        	<!--  <label class="checkbox">{{ orderitemform.DELETE }} {% trans "remove" %} </label>-->
        	<input class="btn btn-small btn-danger" type="submit" name="items-{{forloop.counter0}}-DELETE" value="{% trans "remove" %}" />
        </td>
    </tr>
{% endfor %}
<tr>
		{% if not "CADOSHOP_ONLYSINGLE"|setting %}
        <td colspan="3" style="text-align:right">
        	Total
        </td>
        {% if "CADOSHOP_MANAGESTOCK"|setting %}
        	<td> </td>
        {% endif %}
        {% else %}
        <td colspan="1" style="text-align:right">
        	Total
        </td>
        {% endif %}
        
        <td>{{ order.currency }} {{ order.subtotal|floatformat:2 }}</td>
        <td>
        </td>
    </tr>
	</tbody>
	<tfoot>
    <tr>
        <td colspan="{% if "CADOSHOP_MANAGESTOCK"|setting %}6{% else %}5{% endif %}" style="text-align:right;">
        
        	
			{% if empty %}
			{% else %}
            <input type="submit" class="btn btn-warning" name="save" value="{% trans "Update" %}" />
			{% endif %}
            <a class="btn btn-warning" href="{{"CADOSHOP_INDEXURL"|setting}}">{% trans "Continue Shopping" %}</a>
            {% if empty %}
			{% else %}
            <button type="submit" class="btn btn-large btn-success" name="checkout">
            	{% trans "Checkout" %}
            	<i class="icon-double-angle-right"></i>
            </button>
			{% endif %}
        </td>
    </tr>
	</tfoot>
</table>
</form>
{% endblock %}