{% extends base_template|default:"base.html" %}

{% load i18n plata_tags cadocms_tags %}

{% block seo_title %}{% trans "Checkout" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url "plata_shop_cart" %}">{% trans "Shopping Cart" %}</a> <span class="divider">&gt;</span></li>
		<li class="active">{% trans "Checkout" %}</li>
	</ul>
{% endblock %}

{% block content %}
  <form method="post" action=".">
  	  <table class="table table-striped table-bordered">
  <tr><th colspan="2">
  <h1>{% trans "Checkout" %}</h1>

      {% block order_form %}
      {% csrf_token %}
      <input type="hidden" name="_checkout" value="1" />
		{% if orderform.non_field_errors or orderform.errors %}
	        <ul class="errorlist">
	            <li>{% trans "Your form contained errors. please fix and try again." %}</li>
	            {% for error in orderform.non_field_errors %}
	            <li>{{ error }}</li>
	        	{% endfor %}
	        	
	        	{% for field, error in orderform.errors.items %}
            	{% if field == '__all__' %}
            		<li>{{ error }}</li>
            	{% endif %}
            	{% endfor %}
	        	
	        </ul>
	    {% endif %}
</th></tr>

  	  <tr><td colspan="2" class="clearfix">
  	
 <div class="pull-left">
      <table class="table">
        {% block order_form_table_rows %}
          {% block billing_heading_row %}
            <tr>
              <td colspan="2">
                <h2>{% trans "Billing address" %}</h2>
                
                {% if "CADOSHOP_ALLOWREGISTERING"|setting %}
                	{% if not request.user.is_authenticated %}
                	Please <a href="/login?next=/checkout/">login</a> to use your saved contact data.
                	<br/>
                	If you don't have an account you can <a href="/register?next=/checkout/">register</a>
                	<br/>
                	to save your contact data for your next orders.
                	{% endif %}
                {% endif %}
              </td>
            </tr>
          {% endblock %}
          
		  {% comment %}
          {% block create_account_field %}
            {% if orderform.create_account %}
              {% form_item orderform.create_account %}
            {% endif %}
          {% endblock %}
          {% endcomment %}

          {% block billing_fields %}
            {% form_item orderform.email %}
            {% form_item orderform.billing_company %}
            {% form_item orderform.billing_first_name %}
            {% form_item orderform.billing_last_name %}
            {% form_item orderform.billing_phone %}

            {% block billing_address_fields %}
              {% form_item orderform.billing_address %}
              {% form_item orderform.billing_zip_code %}
              {% form_item orderform.billing_city %}
              {% form_item orderform.billing_state %}
              {% form_item orderform.billing_country %}
            {% endblock %}
          {% endblock %}
          </table>
          </div>
          
 <div class="pull-right">         
 <table class="table">
 
            <tr>
              <td colspan="2">
                <h2>{% trans "Shipping address" %}</h2>
                <label class="checkbox">
                	{{ orderform.shipping_pickup }}
                	{% trans "I will pick up my order in store" %}
                </label>
                <label class="checkbox shippingInfo">
                	{{ orderform.shipping_same_as_billing }}
                	{% trans "Shipping address equals billing address" %}
                </label>
              </td>
            </tr>
      </table>
      
      <table class="table shippingDetails shippingInfo">

          {% block shipping_fields %}
            {% form_item orderform.shipping_company %}
            {% form_item orderform.shipping_first_name %}
            {% form_item orderform.shipping_last_name %}
            {% form_item orderform.shipping_phone %}
            {% block shipping_address_fields %}
              {% form_item orderform.shipping_address %}
              {% form_item orderform.shipping_zip_code %}
              {% form_item orderform.shipping_city %}
              {% form_item orderform.shipping_state %}
              {% form_item orderform.shipping_country %}
            {% endblock %}
          {% endblock %}

         
        {% endblock %}
      </table>
      </div>
      
      </td></tr>
       {% block notes %}
            <tr>
              <th colspan="2">
                <h2>{% trans "Notes" %}</h2>
              </th>
            </tr>
            
		    <tr>
		        <td colspan="2">
                	{% trans "Questions or comments:" %}
                	<br/>
		        	{{orderform.notes}}
		        </td>
		    </tr>
          {% endblock %}

		    
          
          {% block submit %}
         <tr>
		        <td style="text-align:right;" colspan="2">
		            <button type="submit" class="btn btn-large btn-success" name="submit">
		            	{% trans "Continue" %}
		            	<i class="icon-double-angle-right"></i>
		            </button>
		        </td>
		    </tr>
          {% endblock %}
    </table>
    
      
    {% endblock %}
  </form>
  {% block extra_html_scripts %}
  	{{ block.super }}
	<script type="text/javascript">
	  	$(function(){
	  		$('#id_order-notes').width($('#id_order-notes').parent().width()-20);
	  		$('#id_order-shipping_pickup').change(function(){
	  			$('.shippingInfo').toggle(!$('#id_order-shipping_pickup').prop("checked"));
	  			$('#id_order-shipping_same_as_billing').prop("checked", false);
	  		}).change();
	  		$('#id_order-shipping_same_as_billing').change(function(){
	  			$('.shippingDetails').toggle(!$('#id_order-shipping_same_as_billing').prop("checked"));
	  		}).change();
	  	})
	  </script>
  {% endblock %}

  
{% endblock %}