{% extends base_template|default:"base.html" %}

{% load cadocms_tags %}
{% load i18n plata_tags %}
{% load url from future %}


{% block seo_title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active">{% trans "Success" %}</li>
	</ul>
{% endblock %}


{% block content %}
<table class="table table-striped table-bordered">
	<thead>
    	<tr>
    		<td colspan="2">
				    <h1>{% trans "Your order has been saved!" %}</h1>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				You have selected "pickup in store" option.<br/>
				Please prepare <strong>{{ order.currency }} {{ order.total|floatformat:2 }}</strong> cash.<br/>
				We will prepare your order and await you in our shop:
				 <p>
				 	{{ 'PLATA_REPORTING_ADDRESSLINE'|setting|linebreaks }}
				</p>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
		    <td style="text-align:right;" colspan="2">	
		        <button type="button" class="btn btn-large btn-success" onclick="window.location.href='{% url "plata_order_new" %}'">
					{% trans "Create new Order" %}
				</button>
			</td>		
		</tr>
	</tfoot>
</table>
{% endblock %}
